
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.slide {
    flex: 0 0 100%;
}

    .slide img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }


.slider-container {
    position: relative;
}

/* ... Seu CSS existente ... */

.slider-controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.slider-control {
    background: none;
    border: none;
    padding: 0; /* Remova o espaçamento interno */
    cursor: pointer;
    z-index: 3;
    position: relative;
    top: 0;
    transform: translateY(-50%);
    font-size: 20px;
}

    .slider-control i {
        color: white; /* Cor do ícone */
    }


    .slider-control.prev::before {
        content: "◄"; /* Seta esquerda */
    }

    .slider-control.next::before {
        content: "►"; /* Seta direita */
    }

.icon {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
/* Restante do estilo permanece igual */

.contact-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.contact-item {
    display: flex;
    flex-direction: column;
}

.title,
.info {
    text-align: left; /* Alinhar à esquerda */
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #007BFF;
}

.info {
    font-size: 16px;
}

.custom-h3 {
    font-family: Calibri, sans-serif; /* Defina a fonte desejada, use um fallback caso a fonte não esteja disponível */
    font-size: 50px; /* Defina o tamanho desejado */
    /*color: cyan;*/
    /* Outros estilos, se necessário */
}

.custom-h5 {
    font-family: Helvetica, sans-serif; /* Defina a fonte desejada, use um fallback caso a fonte não esteja disponível */
    font-size: 18px; /* Defina o tamanho desejado */
    /* Outros estilos, se necessário */
}




