@{
    ViewData["Title"] = "TrabalheConosco";
}

<!DOCTYPE html>
<html class="wide wow-animation" lang="pt-br">
<head>
    <title>Colégio Jardin's</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/images/Imagess/logo.png" type="images/Imagess/logo.png">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CPT+Serif:400,700">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/style.css">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }</style>
    <style>
        .rd-navbar {
            /* Defina o fundo inicial como transparente */
            background: transparent;
            /* Adicione a propriedade de transição para a opacidade do pseudo-elemento */
            transition: opacity 0.3s ease;
            /* Defina a posição do pseudo-elemento para cobrir toda a navbar */
            position: relative;
        }

            /* Crie um pseudo-elemento para o fundo gradiente */
            .rd-navbar::before {
                /* Posicione o pseudo-elemento atrás do conteúdo */
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                /* Defina a opacidade inicial como 0 para torná-lo transparente */
                opacity: 0;
                /* Aplique o gradiente linear ao pseudo-elemento */
                background: linear-gradient(125deg, #f9dc03, #efe95d, #9997f8, #18244f);
                /* Defina o z-index como -1 para garantir que ele fique atrás do conteúdo */
                z-index: -1;
                /* Adicione a propriedade de transição para a opacidade do pseudo-elemento */
                transition: opacity 0.3s ease;
            }

            /* Aplique o fundo gradiente quando houver scroll */
            .rd-navbar.scrolled {
                background: linear-gradient(125deg, #f9dc03, #efe95d, #9997f8, #18244f);
            }

                /* Exiba o pseudo-elemento com o gradiente quando houver scroll */
                .rd-navbar.scrolled::before {
                    opacity: 1;
                }
    </style>
    <style>
        .image-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-image: linear-gradient(125deg, #f9dc03, #efe95d, #9997f8, #18244f);
            padding: 0px; /* Increase padding to make the container slightly larger */
            border-radius: 20px;
            box-shadow: 0 10px 8px -8px rgba(0, 0, 0, 0.2);
            overflow: hidden;
        }

        .image-wrapper {
            flex: 1;
            position: relative;
            height: 200px; /* Height of each row */
        }

            .image-wrapper:not(:last-child) {
                margin-right: 0px; /* Spacing between images */
            }

            .image-wrapper img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1px; /* To make images inside slightly rounded */
            }

        .center-image {
            width: 200px; /* Width of the center image */
        }

            .center-image img {
                width: 100%;
                height: 100%;
                object-fit: contain; /* Fit the entire image inside the container */
                border-radius: 100px; /* To make image inside rounded */
            }
    </style>
    <style>
        section {
            text-align: center;
        }

        .partners-section {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 20px;
        }

            .partners-section img {
                max-width: 100%;
                height: auto;
                margin: 0 20px;
            }
    </style>
    <style>
        .text-left {
            text-align: left;
        }
    </style>
    <style>
        .custom-links a {
            color: black; /* Defina a cor do texto dos links para preto */
            text-decoration: none; /* Remova o sublinhado padrão dos links */
        }

            .custom-links a:hover {
                text-decoration: underline; /* Adicione um sublinhado quando o mouse passa sobre o link */
            }
    </style>
</head>
<body>
    <script>
        window.addEventListener("scroll", function () {
            var navbar = document.querySelector(".rd-navbar");
            var scrolled = window.scrollY > 46;
            // Adicione ou remova a classe "scrolled" para acionar a transição
            if (scrolled) {
                navbar.classList.add("scrolled");
            } else {
                navbar.classList.remove("scrolled");
            }
        });
    </script>
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
            <p>Carregando...</p>
        </div>
    </div>
    <div class="page">
        <!-- Page Header-->
        <header class="page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" ; style="background-color: transparent;">
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Brand-->
                                <div>
                                    <a></a>
                                </div>
                            </div>
                            <ul class="rd-navbar-nav">
                                <!--Aba Página Incial-->
                                <li class="rd-nav-item">
                                    <a class="rd-nav-link" href="/">Página Inicial</a>
                                </li>
                                <!--Aba Quem Somos-->
                                <li class="rd-nav-item dropdown">
                                    <a class="rd-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Quem Somos
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="QuemSomos" asp-action="NossaHistoria">Nossa História</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="QuemSomos" asp-action="Missao">Missão</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="QuemSomos" asp-action="Proposta">Proposta Pedagógica</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="QuemSomos" asp-action="Parceiros">Parceiros</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="QuemSomos" asp-action="Diferencial">Diferencial</a>
                                    </div>
                                </li>
                                <!--Aba Cursos-->
                                <li class="rd-nav-item dropdown">
                                    <a class="rd-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Cursos
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="Cursos" asp-action="Infantil">Ensino Infantil</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Cursos" asp-action="Fundamental1">Ensino Fundamental I</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Cursos" asp-action="Fundamental2">Ensino Fundamental II</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Cursos" asp-action="Medio">Ensino Médio</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Cursos" asp-action="Integral">Período Integral</a>
                                    </div>
                                </li>
                                <!--LOGO-->
                                <li class="rd-nav-item">
                                    <a class="rd-nav-link" href="/"><img class="brand-logo-light" src="~/images/Imagess/logo.png" alt="" width="110" height="110" srcset="~/images/Imagess/logo.png 2x" /></a>
                                </li>
                                <!--Aba Infraestrutura-->
                                <li class="rd-nav-item dropdown">
                                    <a class="rd-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Infraestrutura
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="Infraestrutura" asp-action="PInfantil">Prédio Ensino Infantil</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Infraestrutura" asp-action="PFundamental1">Prédio Ensino Fundamental I</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Infraestrutura" asp-action="PFundamental2">Prédio Ensino Fundamental II</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Infraestrutura" asp-action="PMedio">Prédio Ensino Médio</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Infraestrutura" asp-action="AreaVerde">Área Verde</a>
                                    </div>
                                </li>
                                <!--Aba Contato-->
                                <li class="rd-nav-item dropdown">
                                    <a class="rd-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Contato
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="Contato" asp-action="FaleConosco">Fale Conosco</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Contato" asp-action="TrabalheConosco">Trabalhe Conosco</a>
                                    </div>
                                </li>
                                <!--Aba Agenda EDU-->
                                <li class="rd-nav-item">
                                    <a class="rd-nav-link btn btn-primary" href="https://agendaedu.com/">Agenda EDU</a>
                                </li>
                            </ul>
                            <div>
                                <ul>
                                    <li><a class="" href="https://web.facebook.com/profile.php?id=100063602259977"><img src="~/images/Imagess/facebook-icon-free-png.webp" width="40" height="40" /></a></li>
                                    <li><a class="" href="https://www.instagram.com/colegiojardinscampinas/"><img src="~/images/Imagess/instagram-icon-free-png.webp" width="40" height="40" /></a></li>
                                    <li><a class="" href="https://api.whatsapp.com/send?phone=+551996143513&text=Ol%C3%A1,%20estou%20no%20site%20do%20Col%C3%A9gio%20Jardins%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es."><img src="~/images/Imagess/69edfa1f-3eb0-4bb3-80ef-20bcbda58427.png" width="39" height="39" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Slide de imagens-->
        <section class="section-lg section-main-bunner section-main-bunner-filter text-center">
            <div class="main-bunner-img"><img src="~/images/Imagess/banner2.PNG" alt="Imagem do Banner 2" style="width: 94%; height: 90%;" /></div>
            <div class="main-bunner-inner">
                <div class="container">
                    <div class="box-default">
                        <h1 class="box-default-title">Trabalhe Conosco</h1>
                    </div>
                </div>
            </div>
        </section>
        <!--Imagens Cursos-->
        <div class="bg-gray-1" style="background-image: url('/images/Imagess/Fundo2.png'); background-size: cover;">
            <section class="section-transform-top">
                <div class="container image-container">
                    <div class="image-wrapper">
                        <a asp-controller="Cursos" asp-action="Infantil">
                            <img src="~/images/Imagess/infantil.png" alt="Imagem 1" />
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a asp-controller="Cursos" asp-action="Fundamental1">
                            <img src="~/images/Imagess/fundamental.png" alt="Imagem 2" />
                        </a>
                    </div>
                    <div class="image-wrapper center-image">
                        <img src="~/images/Imagess/logo.png" alt="Imagem 3" />
                    </div>
                    <div class="image-wrapper">
                        <a asp-controller="Cursos" asp-action="Fundamental2">
                            <img src="~/images/Imagess/fundamental.png" alt="Imagem 4" />
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a asp-controller="Cursos" asp-action="Medio">
                            <img src="~/images/Imagess/medio.png" alt="Imagem 5" />
                        </a>
                    </div>
                </div>
            </section>
            <!--Mensagem-->
            <section class="section section-lg">
                <div class="container">
                    <div class="row row-50">
                        <div class="col-xl-7">
                            <ul class="list-xxl heading-list">
                                <li>
                                    <h4 class="text-left" style="color: #000; font-family: Arial;">Faça Parte da Equipe do Colégio Jardin's!</h4>
                                    <p class="text-left" style="color: #000; font-family: Arial;">Estamos sempre em busca de profissionais talentosos e dedicados para fazerem parte da nossa equipe no Colégio Jardin's. Se você é apaixonado pela educação, comprometido com o desenvolvimento dos alunos e acredita que pode contribuir positivamente para o ambiente de aprendizado, nós adoraríamos conhecê-lo!</p>
                                    <h4 class="text-left" style="color: #000; font-family: Arial;">O Que Valorizamos:</h4>
                                    <p class="text-left" style="color: #000; font-family: Arial;"> - Paixão Pela Educação: Buscamos pessoas que acreditam no poder da educação para transformar vidas e que estão comprometidas em promover um ambiente de aprendizado estimulante e inclusivo.</p>
                                    <p class="text-left" style="color: #000; font-family: Arial;"> - Dedicação: Procuramos profissionais comprometidos e dispostos a se empenhar para oferecer o melhor aos nossos alunos e à nossa comunidade escolar.</p>
                                    <p class="text-left" style="color: #000; font-family: Arial;"> - Inovação: Valorizamos a criatividade e a busca por abordagens inovadoras no ensino e na gestão escolar.</p>
                                    <p class="text-left" style="color: #000; font-family: Arial;"> - Trabalho em Equipe: A colaboração é essencial para nós. Procuramos indivíduos que saibam trabalhar em equipe, compartilhando conhecimentos e experiências para alcançar objetivos comuns.</p>
                                    <h4 class="text-left" style="color: #000; font-family: Arial;">O Que Oferecemos:</h4>
                                    <p class="text-left" style="color: #000; font-family: Arial;"> - Um ambiente de trabalho colaborativo e acolhedor.</p>
                                    <p class="text-left" style="color: #000; font-family: Arial;"> - Oportunidades de desenvolvimento profissional e crescimento na carreira.</p>
                                    <p class="text-left" style="color: #000; font-family: Arial;"> - Participação em projetos educacionais significativos.</p>
                                    <p class="text-left" style="color: #000; font-family: Arial;"> - A chance de contribuir para a formação e o crescimento dos alunos.</p>
                                    <p class="text-left" style="color: #000; font-family: Arial;">Se você está interessado em se juntar à nossa equipe, preencha o nosso formulário de candidatura para nos contar um pouco mais sobre você e sua experiência. Clique aqui para acessar o formulário.</p>
                                    <p class="text-left" style="color: #000; font-family: Arial;">Agradecemos pelo seu interesse em fazer parte do Colégio Jardin's. Aguardamos ansiosamente para conhecer você e suas habilidades que podem enriquecer ainda mais a nossa escola!</p>

                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Page Footer-->
            <footer class="section footer-minimal context-dark" style="background: linear-gradient(125deg, #f9dc03, #efe95d, #9997f8, #0400ff); padding: 60px 0; text-align: left;">
                <div class="container wow-outer">
                    <div class="wow fadeIn">
                        <div class="row row-60 align-items-center">
                            <div class="col-md-4">
                                <a href="/"><img src="~/images/Imagess/logo.png" alt="" width="140" height="57" srcset="~/images/Imagess/logo.png 2x" /></a>
                            </div>
                            <div class="col-md-4">
                                <h4 style="color: #000; font-family: 'Material Design Icons', sans-serif;"><strong>Localização</strong></h4>
                                <h5 style="color: #333; font-family: 'Material Design Icons', sans-serif; font-size: 14px; margin-top: 10px;">Av. Ana Beatriz Bierrembach, N° 165</h5>
                                <h5 style="color: #333; font-family: 'Material Design Icons', sans-serif; font-size: 14px; margin-top: 5px;">Vila Mimosa - Campinas/SP - 13050-060</h5>
                                <h5 style="color: #333; font-family: 'Material Design Icons', sans-serif; font-size: 14px; margin-top: 5px;">Telefones: (19) 3269-9922 / (19) 3308-7006</h5>
                            </div>
                            <div class="col-md-4 text-md-right">
                                <ul class="social-list">
                                    <li><a class="" href="#"><img src="~/images/Imagess/facebook-icon-free-png.webp" width="40" height="40" /></a></li>
                                    <li><a class="" href="#"><img src="~/images/Imagess/instagram-icon-free-png.webp" width="40" height="40" /></a></li>
                                    <li><a class="" href="#"><img src="~/images/Imagess/69edfa1f-3eb0-4bb3-80ef-20bcbda58427.png" width="39" height="39" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="~/js/core.min.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>