@{
    ViewData["Title"] = "Diferencial";
}
<!DOCTYPE html>
<html class="wide wow-animation" lang="pt-br">
<head>
    <title>Colégio Jardin's</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/images/Imagess/logo.png" type="images/Imagess/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CPT+Serif:400,700">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/Styless.css">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }
    </style>
    <style>
        .rd-navbar {
            /* Defina o fundo inicial como transparente */
            background: transparent;
            /* Adicione a propriedade de transição para a opacidade do pseudo-elemento */
            transition: opacity 0.3s ease;
            /* Defina a posição do pseudo-elemento para cobrir toda a navbar */
            position: relative;
        }
            /* Crie um pseudo-elemento para o fundo gradiente */
            .rd-navbar::before {
                /* Posicione o pseudo-elemento atrás do conteúdo */
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                /* Defina a opacidade inicial como 0 para torná-lo transparente */
                opacity: 0;
                /* Aplique o gradiente linear ao pseudo-elemento */
                background: linear-gradient(120deg, #f9dc03, #a6a557, #536fab, #0038ff);
                /* Defina o z-index como -1 para garantir que ele fique atrás do conteúdo */
                z-index: -1;
                /* Adicione a propriedade de transição para a opacidade do pseudo-elemento */
                transition: opacity 0.3s ease;
            }
            /* Aplique o fundo gradiente quando houver scroll */
            .rd-navbar.scrolled {
                background: linear-gradient(120deg, #f9dc03, #a6a557, #536fab, #0038ff);
            }
                /* Exiba o pseudo-elemento com o gradiente quando houver scroll */
                .rd-navbar.scrolled::before {
                    opacity: 1;
                }
    </style>
    <style>
        .image-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-image: linear-gradient(125deg, #f9dc03, #efe95d, #9997f8, #18244f);
            padding: 0px; /* Increase padding to make the container slightly larger */
            border-radius: 20px;
            box-shadow: 0 10px 8px -8px rgba(0, 0, 0, 0.2);
            overflow: hidden;
        }

        .image-wrapper {
            flex: 1;
            position: relative;
            height: 200px; /* Height of each row */
        }

            .image-wrapper:not(:last-child) {
                margin-right: 0px; /* Spacing between images */
            }

            .image-wrapper img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1px; /* To make images inside slightly rounded */
            }

        .center-image {
            width: 200px; /* Width of the center image */
        }

            .center-image img {
                width: 100%;
                height: 100%;
                object-fit: contain; /* Fit the entire image inside the container */
                border-radius: 100px; /* To make image inside rounded */
            }
    </style>
    <style>
        section {
            text-align: center;
        }

        .partners-section {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 20px;
        }

            .partners-section img {
                max-width: 100%;
                height: auto;
                margin: 0 20px;
            }
    </style>
    <style>
        .text-left {
            text-align: left;
        }
    </style>
</head>
<body>
    <script>
        window.addEventListener("scroll", function () {
            var navbar = document.querySelector(".rd-navbar");
            var scrolled = window.scrollY > 46;
            // Adicione ou remova a classe "scrolled" para acionar a transição
            if (scrolled) {
                navbar.classList.add("scrolled");
            } else {
                navbar.classList.remove("scrolled");
            }
        });
    </script>
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
            <p>Carregando...</p>
        </div>
    </div>
    <div class="page">
        <!-- Page Header-->
        <header class="page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" ; style="background-color: transparent;">
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div></div>
                            <ul class="rd-navbar-nav">
                                <!--Aba Página Incial-->
                                <li class="rd-nav-item">
                                    <a class="rd-nav-link" href="/">Página Inicial</a>
                                </li>
                                <!--Aba Quem Somos-->
                                <li class="rd-nav-item dropdown">
                                    <a class="rd-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Quem Somos
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="QuemSomos" asp-action="NossaHistoria">Nossa História</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="QuemSomos" asp-action="Missao">Missão</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="QuemSomos" asp-action="Proposta">Proposta Pedagógica</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="QuemSomos" asp-action="Diferencial">Diferencial</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="QuemSomos" asp-action="Parceiros">Parceiros</a>
                                    </div>
                                </li>
                                <!--Aba Cursos-->
                                <li class="rd-nav-item dropdown">
                                    <a class="rd-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Cursos
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="Cursos" asp-action="Infantil">Educação Infantil</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Cursos" asp-action="Fundamental1">Ensino Fundamental I</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Cursos" asp-action="Fundamental2">Ensino Fundamental II</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Cursos" asp-action="Medio">Ensino Médio</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Cursos" asp-action="Integral">Período Integral</a>
                                    </div>
                                </li>
                                <!--LOGO-->
                                <li class="rd-nav-item">
                                    <a class="rd-nav-link" href="/"><img class="brand-logo-light" src="~/images/Imagess/logo.png" alt="" width="110" height="110" srcset="~/images/Imagess/logo.png 2x" /></a>
                                </li>
                                <!--Aba Infraestrutura-->
                                <li class="rd-nav-item dropdown">
                                    <a class="rd-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Infraestrutura
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="Infraestrutura" asp-action="PInfantil">Prédio Ensino Infantil</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Infraestrutura" asp-action="PFundamental1">Prédio Ensino Fundamental I</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Infraestrutura" asp-action="PFundamental2">Prédio Ensino Fundamental II</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Infraestrutura" asp-action="PMedio">Prédio Ensino Médio</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Infraestrutura" asp-action="AreaVerde">Área Verde</a>
                                    </div>
                                </li>
                                <!--Aba Contato-->
                                <li class="rd-nav-item dropdown">
                                    <a class="rd-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Contato
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="Contato" asp-action="FaleConosco">Fale Conosco</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Contato" asp-action="TrabalheConosco">Trabalhe Conosco</a>
                                    </div>
                                </li>
                                <!--Aba Agenda EDU-->
                                <li class="rd-nav-item">
                                    <a class="rd-nav-link btn btn-primary" href="https://api.whatsapp.com/send?phone=+551996143513&text=Ol%C3%A1,%20estou%20no%20site%20do%20Col%C3%A9gio%20Jardins%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es.">Matrículas</a>
                                </li>
                            </ul>
                            <div>
                                <ul>
                                    <li><a class="" href="https://web.facebook.com/profile.php?id=100063602259977"><img src="~/images/Imagess/facebook-icon-free-png.webp" width="35" height="35" /></a></li>
                                    <li><a class="" href="https://www.instagram.com/colegiojardinscampinas/"><img src="~/images/Imagess/instagram-icon-free-png.webp" width="35" height="35" /></a></li>
                                    <li><a class="" href="https://api.whatsapp.com/send?phone=+551996143513&text=Ol%C3%A1,%20estou%20no%20site%20do%20Col%C3%A9gio%20Jardins%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es."><img src="~/images/Imagess/69edfa1f-3eb0-4bb3-80ef-20bcbda58427.png" width="34" height="34" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Slide de imagens-->
        <section class="section-lg section-main-bunner section-main-bunner-filter text-center">
            <div class="main-bunner-img"><img src="~/images/Imagess/banner2.PNG" alt="Imagem do Banner 2" style="width: 94%; height: 90%;" /></div>
            <div class="main-bunner-inner">
                <div class="container">
                    <div class="box-default">
                        <h1 class="box-default-title" style="font-family: Poppins">Nossos Diferenciais</h1>
                    </div>
                </div>
            </div>
        </section>
        <!--Imagens Cursos-->
        <div class="bg-gray-1" style="background-image: url('/images/Imagess/Fundo2.png'); background-size: cover;">
            <section class="section-transform-top">
                <div class="container image-container">
                    <div class="image-wrapper">
                        <a asp-controller="Cursos" asp-action="Infantil">
                            <img src="~/images/Imagess/infantil.png" alt="Imagem 1" />
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a asp-controller="Cursos" asp-action="Fundamental1">
                            <img src="~/images/Imagess/fundamental.png" alt="Imagem 2" />
                        </a>
                    </div>
                    <div class="image-wrapper center-image">
                        <img src="~/images/Imagess/logo.png" alt="Imagem 3" />
                    </div>
                    <div class="image-wrapper">
                        <a asp-controller="Cursos" asp-action="Fundamental2">
                            <img src="~/images/Imagess/fundamental.png" alt="Imagem 4" />
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a asp-controller="Cursos" asp-action="Medio">
                            <img src="~/images/Imagess/medio.png" alt="Imagem 5" />
                        </a>
                    </div>
                </div>
            </section>
            <!--Diferencial-->
            <section class="section section-lg">
                <div class="container">
                    <div class="row row-30 row-md-60" style="font-family: Poppins">
                        <!-- Programa Fidelidade -->
                        <div>
                            <div class="box-icon-modern">
                                <div class="box-icon-inner"><img src="~/images/Imagess/adesivo.jpg" width="695" height="695" /></div>
                                <div class="box-icon-caption">
                                    <h4 class="font-family-base" style="color: #000; font-size: 1.5rem;">Programa Fidelidade</h4>
                                    <p class="font-family-base" style="color: #000; font-size: 1rem;">O nosso Colégio apresenta um programa de fidelidade exclusivo, voltado para os responsáveis que assumem o compromisso de manter as mensalidades em dia. Através desse programa, disponibilizamos descontos progressivos em todas as áreas financeiras, como um reconhecimento pelo comprometimento e parceria com a nossa instituição. Valorizamos profundamente o compromisso das nossas famílias e temos como objetivo oferecer vantagens que ampliem ainda mais o sucesso educativo dos nossos alunos. Convidamos vocês a embarcar conosco nessa jornada de aprendizado e crescimento contínuo!</p>
                                </div>
                            </div>
                        </div>
                        <!-- Kung-Fu -->
                        <div>
                            <div class="box-icon-modern">
                                <div class="box-icon-inner"><img src="~/images/Imagess/9-removebg-preview.png" width="550" height="550" /></div>
                                <div class="box-icon-caption">
                                    <h4 class="font-family-base" style="color: #000; font-size: 1.5rem;">Kung-Fu</h4>
                                    <p class="font-family-base" style="color: #000; font-size: 1rem;">Nossa oferta educacional inclui envolventes aulas de Kung-Fu, adaptadas para os alunos da Educação Infantil e Ensino Fundamental I no nosso período integral. Estas aulas não só introduzem os fundamentos da arte marcial, mas também incorporam jogos, atividades dinâmicas e debates para aprimorar a coordenação física, habilidades cognitivas e sociais dos alunos. Essa experiência proporciona um equilíbrio emocionante entre aprendizado e movimento, promovendo crescimento holístico.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Atendimento Psicológico -->
                        <div>
                            <div class="box-icon-modern">
                                <div class="box-icon-inner"><img src="~/images/Imagess/7-removebg-preview.png" width="700" height="700" /></div>
                                <div class="box-icon-caption">
                                    <h4 class="font-family-base" style="color: #000; font-size: 1.5rem;">Atendimento Psicológico</h4>
                                    <p class="font-family-base" style="color: #000; font-size: 1rem;">Garantimos um valioso recurso de bem-estar em nossa instituição, com atendimento psicológico acessível tanto para nossos alunos como para nossos professores. Reconhecemos a importância de cuidar da saúde mental de todos os envolvidos na comunidade escolar. Nossos profissionais de psicologia estão prontos para oferecer apoio, aconselhamento e orientação, proporcionando um espaço seguro para lidar com desafios emocionais, gerenciamento de estresse ou quaisquer questões que possam surgir. Com essa abordagem integral, estamos empenhados em promover um ambiente saudável e propício ao crescimento pessoal e acadêmico.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Aulas de Yoga -->
                        <div>
                            <div class="box-icon-modern">
                                <div class="box-icon-inner"><img src="~/images/Imagess/8-removebg-preview.png" width="550" height="550" /></div>
                                <div class="box-icon-caption">
                                    <h4 class="font-family-base" style="color: #000; font-size: 1.5rem;">Aulas de Yoga</h4>
                                    <p class="font-family-base" style="color: #000; font-size: 1rem;">Oferecemos uma oportunidade especial para os pais e responsáveis: aulas de Yoga. Estas aulas foram projetadas para proporcionar momentos de relaxamento e atividade física, focando no bem-estar integral. Reconhecemos a importância de cuidar da saúde mental e física não apenas dos alunos, mas também de suas famílias, promovendo assim um ambiente de aprendizado saudável e harmonioso. Nossas sessões de Yoga oferecem um espaço valioso para recarregar energias e promover um equilíbrio saudável na rotina diária.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Fanfarra -->
                        <div>
                            <div class="box-icon-modern">
                                <div class="box-icon-inner"><img src="~/images/Imagess/6-removebg-preview.png" width="550" height="550" /></div>
                                <div class="box-icon-caption">
                                    <h4 class="font-family-base" style="color: #000; font-size: 1.5rem;">Fanfarra</h4>
                                    <p class="font-family-base" style="color: #000; font-size: 1rem;">Possuímos com entusiasmo aulas de Fanfarra, disponíveis para alunos desde o Ensino Fundamental I até o Ensino Médio. Nossa intenção é cultivar noções de espaço, tempo, ritmo, coordenação e expressão motora e corporal nos estudantes, enquanto também fomentamos a integração e a socialização entre eles. Através da música e do trabalho em equipe, nossas aulas de Fanfarra proporcionam uma oportunidade única para os alunos desenvolverem habilidades valiosas e fortalecerem laços dentro da comunidade escolar.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Aulas de Teatro -->
                        <div>
                            <div class="box-icon-modern">
                                <div class="box-icon-inner"><img src="~/images/Imagess/10-removebg-preview.png" width="600" height="600" /></div>
                                <div class="box-icon-caption">
                                    <h4 class="font-family-base" style="color: #000; font-size: 1.5rem;">Aulas de Teatro</h4>
                                    <p class="font-family-base" style="color: #000; font-size: 1rem;">Oferecemos em nosso programa, aulas de teatro, que abrange desde a Educação Infantil até o Ensino Médio. Nosso objetivo é fomentar o desenvolvimento de habilidades cognitivas, sociais, emocionais e físicas em nossos alunos. Através da arte dramática, proporcionamos uma plataforma envolvente para aprimorar a expressão, a confiança e a criatividade, enquanto fortalecemos a capacidade de colaboração e comunicação. As aulas de teatro são uma parte vital da nossa abordagem educacional centrada no aluno, visando nutrir o crescimento holístico de cada indivíduo.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Projeto de Vida e Empreendedorismo -->
                        <div>
                            <div class="box-icon-modern">
                                <div class="box-icon-inner"><img src="~/images/Imagess/13-removebg-preview.png" width="600" height="600" /></div>
                                <div class="box-icon-caption">
                                    <h4 class="font-family-base" style="color: #000; font-size: 1.5rem;">Curso Projeto de Vida e Empreendedorismo</h4>
                                    <p class="font-family-base" style="color: #000; font-size: 1rem;">A disciplina Projeto de Vida Empreendedorismo trabalha as temáticas que perpassam o desenvolvimento das competências socioemocionais dos alunos, tais como autoconhecimento, inteligência emocional, empatia, colaboração, cidadania, responsabilidade, respeito, visão ética e muitas outras. Oferecido desde o 1o. ano do Ensino Fundamental até o final do Ensino Médio, acompanha toda a vida escolar do aluno e as fases do seu desenvolvimento, de sua formação mais elementar para o convívio com os colegas, professores e funcionários até às decisões de carreira e planos a longo prazo.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Biblioteca -->
                        <div>
                            <div class="box-icon-modern">
                                <div class="box-icon-inner"><img src="~/images/Imagess/11-removebg-preview.png" width="500" height="500" /></div>
                                <div class="box-icon-caption">
                                    <h4 class="font-family-base" style="color: #000; font-size: 1.5rem;">Bibliotecas</h4>
                                    <p class="font-family-base" style="color: #000; font-size: 1rem;">Orgulhamo-nos de disponibilizar bibliotecas completas e bem equipadas, enriquecidas com uma vasta seleção de títulos abrangentes. Acreditamos que a leitura é uma poderosa ferramenta educacional, por isso garantimos aos nossos alunos e comunidade acesso a um ambiente inspirador, onde podem explorar diversas áreas do conhecimento, alimentar a curiosidade e expandir horizontes. Nossas bibliotecas são um espaço acolhedor que incentiva a busca pelo saber e o prazer da leitura.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Laboratório de Quimica -->
                        <div>
                            <div class="box-icon-modern">
                                <div class="box-icon-inner"><img src="~/images/Imagess/12-removebg-preview.png" width="500" height="500" /></div>
                                <div class="box-icon-caption">
                                    <h4 class="font-family-base" style="color: #000; font-size: 1.5rem;">Laboratórios</h4>
                                    <p class="font-family-base" style="color: #000; font-size: 1rem;">Nosso Colégio possui um Laboratório de Química, um espaço essencialmente enriquecido com uma gama completa de equipamentos e recursos. Aqui, os alunos têm a oportunidade de mergulhar no mundo da química por meio de experiências práticas, que vão desde análises complexas até investigações científicas. Nosso laboratório é um ambiente de descoberta, onde os estudantes podem explorar, questionar e compreender os princípios fundamentais da química de maneira envolvente e hands-on.</p>
                                </div>
                            </div>
                        </div>
                        <!--Simulados Pré-Vestibular-->
                        <div>
                            <div class="box-icon-modern">
                                <div class="box-icon-inner"><img src="~/images/Imagess/12-removebg-preview.png" width="500" height="500" /></div>
                                <div class="box-icon-caption">
                                    <h4 class="font-family-base" style="color: #000; font-size: 1.5rem;">Simulados Pré-Vestibular</h4>
                                    <p class="font-family-base" style="color: #000; font-size: 1rem;">Em nosso Colégio, concentramos nossos esforços na preparação dos alunos do Ensino Médio para o vestibular. Para isso, oferecemos simulados realistas que abrangem diversas disciplinas. Nossos experientes professores desenvolvem esses simulados com base em vestibulares anteriores, garantindo que os alunos estejam se preparando com conteúdo relevante e atualizado. Essas práticas são valiosas para familiarizar os alunos com o ambiente e o formato das provas, contribuindo para a redução do nervosismo e para um desempenho mais confiante.</p>
                                </div>
                            </div>
                        </div>
                        <!--Área Verde-->
                        <div>
                            <div class="box-icon-modern">
                                <div class="box-icon-inner"><img src="~/images/Imagess/12-removebg-preview.png" width="500" height="500" /></div>
                                <div class="box-icon-caption">
                                    <h4 class="font-family-base" style="color: #000; font-size: 1.5rem;">Área Verde</h4>
                                    <p class="font-family-base" style="color: #000; font-size: 1rem;">Nosso Colégio Jardin's possui uma bela área verde, um espaço tranquilo e relaxante para nossos alunos, que também abriga alguns animais. Com árvores e gramados bem cuidados, este ambiente natural oferece oportunidades para estudos ao ar livre e momentos de lazer. Valorizamos a importância da conexão com a natureza em nosso ensino, incluindo a interação com os animais residentes. Venha conhecer e aproveitar esta área verde especial conosco.</p>
                                </div>
                            </div>
                        </div>
                        <!--Festival Cultural-->
                        <div>
                            <div class="box-icon-modern">
                                <div class="box-icon-inner"><img src="~/images/Imagess/12-removebg-preview.png" width="500" height="500" /></div>
                                <div class="box-icon-caption">
                                    <h4 class="font-family-base" style="color: #000; font-size: 1.5rem;">Festival Cultural</h4>
                                    <p class="font-family-base" style="color: #000; font-size: 1rem;">No Colégio Jardin's, realizamos anualmente um evento dedicado às diversas Culturas do Brasil, que é aberto às famílias. Nossos alunos têm a oportunidade de se envolver em projetos e apresentações que celebram a riqueza cultural do nosso país. Esses trabalhos e apresentações são compartilhados com orgulho com os pais e responsáveis, proporcionando uma experiência enriquecedora que valoriza a diversidade e promove o entendimento das diferentes culturas presentes em nosso Brasil.</p>
                                </div>
                            </div>
                        </div>
                        <!--Curso de Férias-->
                        <div>
                            <div class="box-icon-modern">
                                <div class="box-icon-inner"><img src="~/images/Imagess/12-removebg-preview.png" width="500" height="500" /></div>
                                <div class="box-icon-caption">
                                    <h4 class="font-family-base" style="color: #000; font-size: 1.5rem;">Curso de Férias</h4>
                                    <p class="font-family-base" style="color: #000; font-size: 1rem;">Durante o período de férias, o Colégio Jardin's permanece aberto para os alunos do período integral, oferecendo uma variedade de atividades e brincadeiras para garantir a diversão de nossos alunos. Queremos que as férias sejam momentos especiais e alegres, mesmo fora do período letivo, e estamos comprometidos em proporcionar experiências enriquecedoras e divertidas para os nossos estudantes em um ambiente seguro e estimulante.</p>
                                </div>
                            </div>
                        </div>
                        <!--Feira de Ciências-->
                        <div>
                            <div class="box-icon-modern">
                                <div class="box-icon-inner"><img src="~/images/Imagess/12-removebg-preview.png" width="500" height="500" /></div>
                                <div class="box-icon-caption">
                                    <h4 class="font-family-base" style="color: #000; font-size: 1.5rem;">Feira de Ciências</h4>
                                    <p class="font-family-base" style="color: #000; font-size: 1rem;">No Colégio Jardin's, promovemos anualmente uma emocionante Feira de Ciências. Nesse evento, nossos alunos têm a oportunidade de explorar conceitos científicos de forma prática e criativa, desenvolvendo projetos e experimentos inovadores. A Feira de Ciências é um momento especial em que os alunos compartilham suas descobertas com os pais, responsáveis e toda a comunidade escolar, estimulando o pensamento crítico e a paixão pela ciência. É mais uma maneira pela qual buscamos inspirar e nutrir o aprendizado de nossos estudantes.</p>
                                </div>
                            </div>
                        </div>
                        <!--Olimpiada de Matemática-->
                        <div>
                            <div class="box-icon-modern">
                                <div class="box-icon-inner"><img src="~/images/Imagess/12-removebg-preview.png" width="500" height="500" /></div>
                                <div class="box-icon-caption">
                                    <h4 class="font-family-base" style="color: #000; font-size: 1.5rem;">Olimpíada de Matemática</h4>
                                    <p class="font-family-base" style="color: #000; font-size: 1rem;">Durante o período escolar, incentivamos a participação de nossos alunos do ensino Fundamental II e Médio na Olimpíada de Matemática. Acreditamos que desafios como esse promovem o pensamento lógico, a resolução de problemas e o amor pela matemática. Estamos orgulhosos de apoiar nossos estudantes em sua jornada para explorar e aprofundar seu conhecimento em matemática por meio da participação nessa competição estimulante.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Parceiros-->
            <section class="section section-lg ">
                <div class="text-center">
                    <h2 style="color: #000; font-family: Poppins">Parceiros</h2>
                </div>
                <br />
                <br />
                <div class="partners-section">
                    <img src="~/images/Imagess/parceiros1-removebg-preview.png" alt="Parceiro 1">
                    <img src="~/images/Imagess/parceiros2-removebg-preview.png" alt="Parceiro 2">
                    <img src="~/images/Imagess/parceiros3-removebg-preview.png" alt="Parceiro 3">
                </div>
                <br />
                <br />
                <div style="text-align: center">
                    <a class="btn btn-primary" asp-controller="QuemSomos" asp-action="Parceiros">Saiba Mais</a>
                </div>
            </section>
        </div>
        <!-- Page Footer-->
        <footer class="section footer-minimal context-dark" style="background: linear-gradient(125deg, #f9dc03, #efe95d, #9997f8, #0400ff); padding: 60px 0; text-align: left;">
            <div class="container wow-outer">
                <div class="wow fadeIn">
                    <div class="row row-60 align-items-center">
                        <div class="col-md-4">
                            <a href="/"><img src="~/images/Imagess/logo.png" alt="" width="140" height="57" srcset="~/images/Imagess/logo.png 2x" /></a>
                        </div>
                        <div class="col-md-4">
                            <h4 style="color: #000; font-family: Poppins"><strong>Localização</strong></h4>
                            <h5 style="color: #333; font-family: Poppins; font-size: 14px; margin-top: 10px;">Av. Ana Beatriz Bierrembach, N° 165</h5>
                            <h5 style="color: #333; font-family: Poppins; font-size: 14px; margin-top: 5px;">Vila Mimosa - Campinas/SP - 13050-060</h5>
                            <h5 style="color: #333; font-family: Poppins; font-size: 14px; margin-top: 5px;">Telefones: (19) 3269-9922 / (19) 3308-7006</h5>
                        </div>
                        <div class="col-md-4 text-md-right">
                            <p style="color: #333">Copyright © 2023. Todos os Direitos Reservados</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="~/js/core.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/JSL.js"></script>
</body>
</html>